In [17]:
import pandas as pd
from sqlalchemy import create_engine

In [18]:
diabetes_rate = "./Resources/diabetes_rate.csv"
diabetes_prev = "./Resources/diabetes_prev.csv"
rate = pd.read_csv(diabetes_rate)
prev = pd.read_csv(diabetes_prev, header=2)

In [29]:
prev_clean = prev[["Country Name", "2019"]].copy()
prev_clean = prev_clean.dropna()
prev_clean

     Country Name  2019
0           Aruba  11.6
1     Afghanistan   9.2
2          Angola   4.5
3         Albania   9.0
4         Andorra   7.7
..            ...   ...
258         Samoa   9.2
260   Yemen, Rep.   5.4
261  South Africa  12.7
262        Zambia   4.5
263      Zimbabwe   1.8

[256 rows x 2 columns]

In [30]:
prev_clean = prev_clean.rename(columns={"Country Name": "Country", "2019": "Diabetes prevalence in 2019"})
rate = rate.rename(columns={"country": "Country", "pop2020": "Population"})

In [31]:
diabetes_df = pd.merge(prev_clean, rate, on="Country")
diabetes_df.dropna()

          Country  Diabetes prevalence in 2019  Population
0           Aruba                         11.6     106.766
1     Afghanistan                          9.2   38928.346
2          Angola                          4.5   32866.272
3         Albania                          9.0    2877.797
4         Andorra                          7.7      77.265
..            ...                          ...         ...
175       Vanuatu                         11.9     307.145
176         Samoa                          9.2     198.414
177  South Africa                         12.7   59308.690
178        Zambia                          4.5   18383.955
179      Zimbabwe                          1.8   14862.924

[180 rows x 3 columns]

In [32]:
diabetes_df["Population"] = 1000 * diabetes_df["Population"]
diabetes_df

          Country  Diabetes prevalence in 2019  Population
0           Aruba                         11.6    106766.0
1     Afghanistan                          9.2  38928346.0
2          Angola                          4.5  32866272.0
3         Albania                          9.0   2877797.0
4         Andorra                          7.7     77265.0
..            ...                          ...         ...
175       Vanuatu                         11.9    307145.0
176         Samoa                          9.2    198414.0
177  South Africa                         12.7  59308690.0
178        Zambia                          4.5  18383955.0
179      Zimbabwe                          1.8  14862924.0

[180 rows x 3 columns]