In [1]:
#import dependencies
from bs4 import BeautifulSoup 
import requests
import pandas as pd
from splinter import Browser
import time

In [16]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://www.statista.com/statistics/1104709/coronavirus-deaths-worldwide-per-million-inhabitants/'
browser.visit(url)
time.sleep(5)
xpath = '/html/body/div[3]/div[4]/section[2]/div[2]/div[2]/div[2]/div[1]/div[1]/article/div/div/div[1]/div/div/div/div[2]/div[2]/button[2]'
cookies = '/html/body/div[3]/div[4]/div[48]/div/div/button'
master = pd.DataFrame([])
browser.find_by_xpath(cookies).first.click()
for x in range(13):
    html = browser.html
    datapage = pd.read_html(html)[0]
    master = pd.concat([master,datapage])
    browser.find_by_xpath(xpath).first.click()
# soup = BeautifulSoup(html, 'html.parser')

# browser.find_by_tag('button').find_by_partial_text('Next').first.click()

In [17]:

covid_stats = master.rename()

,Unnamed: 0,Confirmed deaths (absolute),Daily increase (# deaths)¹,Population (in millions),Deaths per million
0,Belgium,9900,15,11.42,866.74
1,United Kingdom²,46706,180,66.49,702.46
2,Peru,21501,0,31.99,672.13
3,Spain,28579,-2,46.72,611.66
4,Italy,35225,10,60.43,582.89
...,...,...,...,...,...
2,Tanzania,21,0,56.32,0.37
3,Papua New Guinea,3,0,8.61,0.35
4,Uganda,9,0,42.72,0.21
5,Vietnam,18,1,95.54,0.19
6,Burundi,1,0,11.18,0.09

In [6]:
# table = soup.find('tbody')
pd.read_html(html)[0]
# browser.click_link_by_partial_text('Next')

,Unnamed: 0,Confirmed deaths (absolute),Daily increase (# deaths)¹,Population (in millions),Deaths per million
0,Belgium,9900,15,11.42,866.74
1,United Kingdom²,46706,180,66.49,702.46
2,Peru,21501,0,31.99,672.13
3,Spain,28579,-2,46.72,611.66
4,Italy,35225,10,60.43,582.89
5,Sweden,5774,4,10.18,567.01
6,Chile,10205,27,18.73,544.87
7,USA²,165716,1482,327.17,506.52
8,Brazil,104201,2449,209.47,497.45
9,France²,30261,45,66.99,451.74
10,Mexico,54666,737,126.19,433.20
11,Panama,1703,23,4.18,407.72
12,Ireland,1774,1,4.85,365.51